@model FuegoBox.Presentation.Models.ProductDetail
@{
    ViewBag.Title = "PDetail";
}
<h4><b>Name:</b> @Model.Name</h4>
<h4><b>Description:</b> @Model.Description</h4>
<h4><b>Category:</b> @Model.CatName</h4>



<img id="imageToSwap" src="@Model.ImageURL" height="150px" width="150px" />


<button><a href="@Url.Action("CardDetail", "Card", new { Name = Model.Name})">Add To Cart</a></button>
<select onchange="$('#imageToSwap').attr('src', this.options[this.selectedIndex].value);">

    @foreach (var Variant in Model.Variants)
    {

        <option value=@Variant.image>@Variant.Variant_Property: @Variant.Variant_Value1</option>

    }
</select>

@foreach (var Variant in Model.Variants)
{
    
    <h4 >@Variant.ListingPrice</h4>

}

