@model FuegoBox.Presentation.Models.ProductDetail
@{
    ViewBag.Title = "PDetail";
}
<h2>Category Name: @Model.CatName</h2>
<h3>Name: @Model.Name</h3>
<h3>Description: @Model.Description</h3>
<h3>Listing Price: @Model.ListingPrice</h3>
<h3>Discount: @Model.Discount</h3>

<img id="imageToSwap" src="@Model.ImageURL" height="150px" width="150px" />

<button><a href="@Url.Action("CardDetail", "Card", new { Name = Model.Name, ImageURL=Model.ImageURL})">Add To Cart</a></button>
<select onchange="$('#imageToSwap').attr('src', this.options[this.selectedIndex].value);">
    @foreach (var Variant in Model.Variants)
    {
            <option value=@Variant.image>@Variant.Variant_Property: @Variant.Variant_Value1</option>
    }
</select>

