@model FuegoBox.Presentation.Models.ProductsSearchViewModel

@{
    ViewBag.Title = "SearchResult";
}

@if (String.IsNullOrEmpty(@ViewBag.searchString))
{
    <h2> Your Search String Is Empty..</h2>
}

else if ((Model.Products.Count() == 0))
{
    <h2> No Items matching Your Search Criteria</h2>
}



else
{
    foreach (var product in Model.Products)
    {
        <h2><a href="@Url.Action("PDetail", "Category", new { Name = product.Name })">@product.Name</a></h2>
        <h2> DESCRIPTION: @product.Description</h2>
        <img src="@product.ImageURL" width="150px" height="150px" />
    }
}